* {margin: 0; padding: 0; font-size: 24px; color: #fff; font-family: "맑은 고딕";}
a {text-decoration: none; color: #333;}
li {list-style: none;}
table {border-spacing: 0;}
.clearfix::before, .clearfix::after {display: block; content: ''; clear: both;}

#wrap {width: 960px; margin: 0px auto;}

#header {text-align: center; background: #111111;}
#header .logo {float: left; width: 200px; height: 150px; line-height: 150px; 
    background: #222222;}
#header .nav {float: right;  width: 760px; margin-top: 50px; background: #333333;}
#header .nav li {position: relative; float: left; width: 33.333333%; text-align: center;}
#header .nav li a {padding: 10px; display: block; font-size: 20px; color: #fff;}
#header .nav li a:hover {background: rgba(0, 0, 0, 0.4);}
#header .nav li ul.submenu {display: none; position: absolute; left: 0; top: 44px;
    background: #444444; z-index: 1;}
#header .nav li ul.submenu li {width: 100%; border-right: 0;} 
#header .nav li ul.submenu li a:hover {background: rgba(0, 0, 0, 0.4);}

#banner {width: 960px; height: 400px; overflow: hidden;}
#banner img {width: 960px; height: 400px;}
.slideList {position: relative;}
.slideList .slideImg {position: relative;  margin-top: -7px;}
.slideList .slideImg h2 {position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, 0.5); padding: 10px 30px; border-radius: 25px; color: #fff;}

#contents-1 {text-align: center;}
#contents-1 > div {float: left; width: 50%;}
#contents-1 > div.cont1 {background: #666666; height: 220px;}
#contents-1 > div.cont2 {background: #777777; height: 220px; line-height: 220px;}

.tab-menu {padding: 10px; height: 220px;}
.tab-menu .tab-btn ul {overflow: hidden;}
.tab-menu .tab-btn li {float: left; width: 160px; background: #555555; 
    text-align: center; margin-right: -1px;}
.tab-menu .tab-btn li.active {text-decoration: underline;}
.tab-menu .tab-btn li a {padding: 10px; display: block; color: #fff;}
.tab-menu .tab-cont {padding: 20px; background: #666666; text-align: left;}

#contents-2 {background: #333333;}